<{include file="../public/header.html" }>

<!-- Page container -->
<div class="page-container">

	<!-- Page content -->
	<div class="page-content">

		<{include file="../public/left.html" }>

		<!-- Main content -->
		<div class="content-wrapper">

			<{include file="../public/breadcrumb.html" }>

			<!-- Content area -->
			<div class="content">
				
				<div class="panel panel-flat">
					<div class="panel-heading">
						<h5 class="panel-title"><{$data.base.module_name}>管理
							<span class="ml10">
								<input type="button" value="<{$searchbtn}>" class="btn btn-xs bg-grey-100 text-xg flitbtn" id="searchbtn" onclick="btn()">
							</span>
						</h5>
						<{if isset($data['permission_tree']['user']['create'])}>
						<div class="heading-elements">
							<a href='<{site_url("user/create")}>' class="btn btn-primary"><i class="icon-plus-circle2"></i> 新增<{$data.base.module_name}></a>
						</div>
						<{/if}>
					</div>					
					<form action="" method="GET" class="form-container">
						<div class="panel-body br-t pt20" id="searchbox" style="<{$searchbox}>">
							<div class="row">
								<div class="col-md-2 col-sm-6 m-ss">
									<input type="text" name="name" class="form-control" placeholder="真名姓名" value="<{$name}>">
								</div>
								<div class="col-md-2 col-sm-6 m-ss">
									<select name="status" class="form-control">
									<option value="-1"<{if $state eq -1}> selected="selected"<{/if}>>全部</option>
									<option value="1"<{if $state eq 1}> selected="selected"<{/if}>>正常</option>
									<option value="0"<{if $state eq 0}> selected="selected"<{/if}>>禁用</option>
									</select>
								</div>
								<div class="col-md-2 m-ss">
									<input type="submit" class=" btn btn-block bg-grey-300" value="筛选">
								</div>
							</div>
						</div>
					</form>
					<table class="table datatable-basic table-hover">
						<thead class="bg-grey-100">
							<tr>
								<th>用户名</th>
								<th>真实姓名</th>
								<{if $data.base.admin eq 1}><th>创建者</th><{/if}>
								<th style="margin-left:20px;">创建时间</th>
								<th class="text-center">状态</th>
								<{if isset($data['permission_tree']['user']['edit']) || isset($data['permission_tree']['user']['lock'])}>
								<th class="text-center">操作</th>
								<{/if}>
							</tr>
						</thead>
						<tbody>
							<{foreach from=$list item=item}>
							<tr>
								<td><{$item.username}></td>
								<td><{$item.realname}></td>
								<{if $data.base.admin eq 1}><td><{$item.parent_admin}></td><{/if}>
								<td><{date('Y-m-d H:i:s',$item.create_time)}></td>
								<{if $item.status eq 0}>
								<td class="text-center"><span class="label label-danger">禁用</span></td>
								<{else}>
								<td class="text-center"><span class="label label-info">正常</span></td>
								<{/if}>

								<{if isset($data['permission_tree']['user']['edit']) || isset($data['permission_tree']['user']['lock'])}>
								<td class="text-center">
									<ul class="icons-list">
										<li class="dropdown"> 
											<a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown"> <i class="icon-menu9"></i> </a>
											<ul class="dropdown-menu dropdown-menu-right mnw100">
												<{if isset($data['permission_tree']['user']['edit'])}>
												<li>
													<a href='<{site_url("user/edit?id=`$item.id`&name=<{$name}>&state=<{$state}>&page=<{$page}>")}>'>
														<i class="icon-compose"></i> 编辑
													</a>
												</li>
												<{/if}>

												<{if isset($data['permission_tree']['user']['lock'])}>
												<li>
													<{if $item.status eq 1}>
													<a href='<{site_url("user/lock?id=`$item.id`&name=<{$name}>&state=<{$state}>&page=<{$page}>&lock=0")}>'>
														<i class="icon-pause2"></i> 禁用
													</a>
													<{else}>
													<a href='<{site_url("user/lock?id=`$item.id`&name=<{$name}>&state=<{$state}>&page=<{$page}>&lock=1")}>'>
														<i class="icon-pause2"></i> 解禁
													</a>
													<{/if}>
												</li>
												<{/if}>
											</ul>
										</li>
									</ul>
								</td>
								<{/if}>
							</tr>
							<{foreachelse}>
                            <tr style="text-align:center;">
                                <{if $data.base.admin eq 1}>								
								<td colspan="6">暂无数据</td>
								<{else}>
								<{if isset($data['permission_tree']['user']['edit']) || isset($data['permission_tree']['user']['lock'])}>
								<td colspan="5">暂无数据</td>
								<{else}>
								<td colspan="4">暂无数据</td>
								<{/if}>
								<{/if}>
                            </tr>
							<{/foreach}>
						</tbody>
					</table>
					<{include file="../public/pager.html"}>
				</div>

				<div class="row">
					<{include file="../public/footer_page.html" }>
				</div>
				<!-- /content area -->
			</div>
			<!-- /main content -->
		</div>
		<!-- /page content -->
	</div>
	<!-- /page container -->
</div>
<script type="text/javascript" src="<{$base_url}>assets/js/plugins/forms/selects/bootstrap_multiselect.js"></script>
<script type="text/javascript" src="<{$base_url}>assets/js/plugins/ui/moment/moment.js"></script>
<script type="text/javascript" src="<{$base_url}>assets/js/plugins/pickers/daterangepicker.js"></script>
<script type="text/javascript" src="<{$base_url}>assets/js/plugins/forms/selects/select2.min.js"></script>
<script type="text/javascript" src="<{$base_url}>assets/js/pages/modals_option.js"></script> 
<script type="text/javascript" src="<{$base_url}>assets/js/pages/form_select.js"></script> 
<link href="<{$base_url}>assets/css/minified/components.css" rel="stylesheet" type="text/css">
<script>
var btn1=document.getElementById('searchbtn');
var box1=document.getElementById('searchbox');
function btn(){ 
	if(btn1.value=="筛选 －"){
		box1.style.display='none';
		btn1.value="筛选 ＋";
	}else{
		box1.style.display='';
		btn1.value="筛选 －";
	}
}
</script>
<{include file="../public/footer.html" }>