<div id="info_modal" class="modal fade">
    <div class="modal-dialog  modal-lg">
        <div class="modal-content">
            <div class="modal-header bg-primary">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h5 class="modal-title">活动详情</h5>
            </div>
            <form action="#" class="form-horizontal">

                <div class="modal-body">

                    <div class="form-group mn br-b">
                        <label class="control-label col-sm-3">活动名称：</label>
                        <div class="col-sm-9 form-control-static">{{fullData.name}}</div>
                    </div>
                    <div class="form-group mn br-b">
                        <label class="control-label col-sm-3">单个红包金额：</label>
                        <div class="col-sm-9 form-control-static">{{fullData.money}}</div>
                    </div>
                    <div class="form-group mn br-b">
                        <label class="control-label col-sm-3">拆分人数:</label>
                        <div class="col-sm-9 form-control-static">{{fullData.use_user}}</div>
                    </div>
                    <div class="form-group mn br-b">
                        <label class="control-label col-sm-3">个人红包金额上限:</label>
                        <div class="col-sm-9 form-control-static">
                            {{fullData.max_money}}
                        </div>
                    </div>
                    <div class="form-group mn br-b">
                        <label class="control-label col-sm-3">红包使用范围:</label>
                        <div class="col-sm-9 form-control-static">{{fullData.con_money}}</div>
                    </div>
                    <div class="form-group mn br-b">
                        <label class="control-label col-sm-3">红包使用条件:</label>
                        <div class="col-sm-9 form-control-static">{{fullData.con_money}}</div>
                    </div>
                    <div class="form-group mn br-b">
                        <label class="control-label col-sm-3">红包使用有效期:</label>
                        <div class="col-sm-9 form-control-static">
                            {{fullData.del_time}}
                        </div>
                    </div>


                    <div class="form-group mn br-b">
                        <label class="control-label col-sm-3">活动开始时间:</label>
                        <div class="col-sm-9 form-control-static">
                            {{fullData.create_time*1000|date:'yyyy-MM-dd HH:mm'}}
                        </div>
                    </div>
                    <div class="form-group mn br-b">
                        <label class="control-label col-sm-3">活动结束时间:</label>
                        <div class="col-sm-9 form-control-static">
                            {{fullData.end_time*1000|date:'yyyy-MM-dd HH:mm'}}
                        </div>
                    </div>

                    <div class="form-group mn br-b">
                        <label class="control-label col-sm-3">规则描述:</label>
                        <div class="col-sm-9 form-control-static">
                            <textarea class="form-control" style="height:80px">
                                {{fullData.desc}}
                            </textarea>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-link" data-dismiss="modal">返回</button>
                </div>
            </form>

        </div>
    </div>
</div>
