<{include file="../public/header.html" }>
<!-- /main navbar --> 
<!-- Page container -->
<div class="page-container"> 
  
  <!-- Page content -->
  <div class="page-content"> 
      <{include file="../public/left.html" }>
    <div class="content-wrapper">
      <!-- Content area -->
      <div class="content">
        <div class="panel panel-flat">
          <div class="panel-heading">
            <h5 class="panel-title">充值列表<span class="ml10">
              <input name="" type="button"  value="<{$searchbtn}>"  class="btn btn-xs bg-grey-100 text-xg flitbtn" id="searchbtn" onclick="btn()" >
              </span></h5>
            <!--<div class="heading-elements"><a href="#adduser" class="btn btn-primary" data-toggle="modal" data-target="#adduser"><i class="icon-plus-circle2"></i> 新增用户</a></div>-->
            <div class="heading-elements"></div>
          </div>
          <form action="" method="GET" class="form-container">
            <div class="panel-body br-t pt20" id="searchbox" style="<{$searchbox}>">
              <div class="row">
                <div class="col-md-2 col-sm-4 m-ss">
                  <input type="text" class="form-control" placeholder="用户姓名" name="username" value="<{$username}>">
                </div>
                <div class="col-md-1 m-ss">
                  <input type="submit" class=" btn btn-block bg-grey-300" value="筛选">
                </div>
              </div>
            </div>
          </form>
          <table class="table datatable-basic table-hover">
            <thead class="bg-grey-100">
              <tr>
                <th>用户姓名</th>
                <th>头像</th>
                <th>充值金额</th>
                <th>充值时间</th>
              </tr>
            </thead>
            <tbody><!-- danger -->
              <{foreach from=$rechargeList item=v}>
              <tr>
                <td><{$v.username}></td>
                <td> <img src="<{$v.avatarUrl}>" style="width:60px;height:60px;"></td>
                <td><{$v.money}></td>
                <td><{date('Y-m-d H:i:s',$v.create_time)}></td>
              </tr>
              <{/foreach}>
            </tbody>
          </table>
          <{include file="../public/pager.html"}>
        </div>
        
        <{include file="../public/footer_page.html" }>
        
      </div>
      <!-- /content area --> 
      
    </div>
    <!-- /main content --> 
    
  </div>
  <!-- /page content --> 
  
</div>
</div>
<!-- /page container --> 
<!-- /page JS files -->
<script type="text/javascript" src="<{$base_url}>assets/js/pages/modals_option.js"></script>
<script type="text/javascript" src="<{$base_url}>assets/js/plugins/forms/styling/uniform.min.js"></script>
<script type="text/javascript" src="<{$base_url}>assets/js/plugins/forms/styling/switch.min.js"></script>

<script type="text/javascript">
  var btn1=document.getElementById('searchbtn');
  var box1=document.getElementById('searchbox');
  function btn(){ 
    if(btn1.value=="筛选 －"){
      box1.style.display='none';
      btn1.value="筛选 ＋";
    }else{
      box1.style.display='';
      btn1.value="筛选 －";
    }
  }
</script>
<{include file="../public/footer.html" }>
